<%- include("../includes/head.ejs") %>
<%- include("../includes/navigation.ejs") %>
<div class="container">
    <br><br>
    
    <h2 class="new-title" style="text-align:center">Subjets List</h2>

    <div class="col-md-12 text-center"> 
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New Subject</button>
    </div>
    <br><br>

    <!-- connect -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align:center"> Add New Subject</h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form action="subjects-list" method="post">
                            <h5>Name</h5>
                            <input type="text" name="name" class="form-control"><br>
                            <h5>Number Of Credits</h5>
                            <input type="text" name="noc" class="form-control"><br>
                            <h5>Percent Of Attendance</h5>
                            <input type="text" name="pod" class="form-control"><br>
                            <h5>Percent Of Test</h5>
                            <input type="text" name="pot" class="form-control"><br>
                            <h5>Percent Of Exercise</h5>
                            <input type="text" name="poe"class="form-control"><br>
                            <h5>Percent Of Practise</h5>
                            <input type="text" name="pop" class="form-control"><br>
                            <h5>Percent Of Final Exam</h5>
                            <input type="text" name="pofe" class="form-control"><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped alignmiddle">
        <thead>
            <tr class="student">
                <th>Name</th>
                <th>Number Of Credits</th>
                <th>Percent Of Attendance</th>
                <th>Percent Of Test</th>
                <th>Percent Of Exercise</th>
                <th>Percent Of Practise</th>
                <th>Percent Of Final Exam</th>
                <th></th>
                <th></th>
            </tr>
            <tbody id="myTable">
                <% if(subjectsList.length > 0) {
                    for(i = 0; i < subjectsList.length; i++){  %>
                        <tr>
                            <td class="name"><%= subjectsList[i].name %></td>
                            <td class="noc"><%= subjectsList[i].noc %></td>
                            <td class="pod"><%= subjectsList[i].pod %></td>
                            <td class="pot"><%= subjectsList[i].pot %></td>
                            <td class="poe"><%= subjectsList[i].poe %></td>
                            <td class="pop"><%= subjectsList[i].pop %></td>
                            <td class="pofe"><%= subjectsList[i].pofe %></td>
                            <td>
                                <a href="/edit-subject/<%= subjectsList[i].id%>" class="btn btn-primary">Edit</a>
                            </td>
                            <td>
                                <form action="delete-subject" method="POST">
                                    <input type="hidden" value="<%=subjectsList[i].id%>" name="subjectId">
                                    <button class="btn btn-danger" type="submit" onclick="print('<%=subjectsList[i].id%>')">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </thead>
        <tbody id="myTable">
          
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    function print(id) {
        // console.log(id);
    }
</script>
<%- include("../includes/end.ejs") %>